@import "../../Styles/styles.scss";

.test11 {
    @include Flex_Column_Center;
    width: 100%;
    height: 100vh;
    // <-----------------------------CSS Carousel----------------------------->
    .alice-carousel {
        width: 800px;
        .alice-carousel__wrapper {
            height: 500px;
            border-radius: 25px;
            .alice-carousel__stage-item {
                text-align: center;
                .sliderimg {
                    height: 100%;
                    width: auto;
                    object-fit: cover;
                    border-radius: 25px;
                }
            }
        }
        .alice-carousel__dots {
            .alice-carousel__dots-item {
                background-color: transparent;
                border: 2px solid black;
            }
            .__active {
                background-color: black;
            }
        }
        .alice-carousel__prev-btn {
            span {
                font-size: 30px;
                color: black;
            }
        }
        .alice-carousel__next-btn {
            span {
                font-size: 30px;
                color: black;
            }
        }
    }
    // <-----------------------------CSS Carousel----------------------------->
    .Postinfo {
        @include Flex_Column_Center_Center;
        width: 60%;
        .Post_images {
            @include Flex_Center_Center;
            flex-wrap: wrap;
            max-width: 900px;
            .Post_image {
                width: 300px;
                border-radius: 20px;
                margin: 5px;
                height: 300px;
                object-fit: cover;
            }
        }
        .Post_message {
            font-weight: normal;
        }
        .Post_categories {
            font-weight: normal;
            .Categorie {
                font-weight: bold;
            }
        }
        .Post_price {
            font-weight: normal;
            .Price {
                font-weight: bold;
            }
        }
        .Post_etat {
            font-weight: normal;
            .Etat {
                font-weight: bold;
            }
        }
    }
    .modify_delete_btn {
        border: none;
        width: 150px;
        padding: 10px 15px;
        font-size: 18px;
        margin: 5px 15px;
        border-radius: 100px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    .modify_btn {
        background-color: $validate;
    }
    .delete_btn {
        background-color: $cancel;
    }
    .Popup {
        @include Flex_Column_Center_Center;
        position: fixed;
        background-color: $backgroundPopup;
        height: 100%;
        width: 100%;
    }
}
